In [32]:
import pyodbc 
import pandas as pd
import numpy as np
from datetime import datetime

df = pd.read_csv("./NewPlayers.csv")

print(df.columns)
print(df.shape)

# TODO: https://www.dropbox.com/scl/fi/hy0sxw6gaai7ghemrshi8/lahman_1871-2023_csv.7z?dl=0&e=1&file_subpath=%2Flahman_1871-2023_csv&rlkey=edw1u63zzxg48gvpcmr3qpnhz

Index(['FirstName', 'LastName', 'DateOfBirth', 'PositionCategory', 'Position',
       'BatHand', 'ThrowHand', 'Status', 'LahmanPlayerID'],
      dtype='object')
(6147, 9)

In [33]:
print(df.head())

  FirstName LastName DateOfBirth PositionCategory Position BatHand ThrowHand  \
0     David  Aardsma  1981-12-27                P       RP       R         R
1       Don     Aase  1954-09-08                P        P       R         R
2      Andy     Abad  1972-08-25               IF       1B       L         L
3      Jeff   Abbott  1972-08-17               OF       OF       R         L
4       Jim   Abbott  1967-09-19                P        P       L         L

     Status LahmanPlayerID
0  Inactive      aardsda01
1  Inactive       aasedo01
2  Inactive       abadan01
3  Inactive      abbotje01
4  Inactive      abbotji01

In [ ]:
server = 'tcp:sports-iq.database.windows.net,1433' 
database = 'main' 
username = 'CloudSAeab82b26'
password = ''

cnxn = pyodbc.connect('DRIVER={SQL Server};SERVER='+server+';DATABASE='+database+';UID='+username+';PWD='+ password)
cursor = cnxn.cursor()

In [35]:
"""
Index(['FirstName', 'LastName', 'DateOfBirth', 'PositionCategory', 'Position',
       'BatHand', 'ThrowHand', 'Status', 'LahmanPlayerID'],
      dtype='object')
(6147, 9)
"""

for index, row in df.iterrows():
		date = None
		teamID = None

		if (row.DateOfBirth is not None and type(row.DateOfBirth) is str):
			date = datetime.strptime(row.DateOfBirth, "%Y-%m-%d")

		cursor.execute("""
								INSERT INTO MLB.Players
								(FirstName, LastName, DateOfBirth, [PositionCategory], [Position], [Status], LahmanPlayerID, BatHand, ThrowHand)
								VALUES(?,?,?,?,?,?,?,?,?);
								 """, 
								 row.FirstName, 
								 row.LastName,
								 date, 
								 row.PositionCategory, 
								 row.Position, 
								 row.Status, 
								 row.LahmanPlayerID, 
								 row.BatHand,
								 row.ThrowHand)


cnxn.commit()
cursor.close()